body{
    margin-top: 100px;
   /*  padding-top: 50px; */
    /* margin-bottom: 50px; */
}
#consultarSaldo{
    display: none;
}
#mostrarMenu{
    display: none;
}
main{
    padding-top: 20px;
    padding-left: 30px; 
    padding-right: 30px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#ingresarMonto{
    display: none;
}
#saldoIngresarMonto{
    display: none;
}
#volverBoton{
    display: "inline";
}


